
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


*{
    margin: 0%;
    padding: 0%;
}
/* pantalla modificar asistencia*/
.body1{
	background: rgb(247, 247, 249);
	font-family: 'Anton', sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.cabecera{
    overflow: hidden;
    background-color: #0099FF;
    height: 105px;
    position: relative;
}

#i{
    font-size: 20px;
    color: #FBF7F7;
    display: inline-block;
    text-decoration: none;
    position: relative;
    top: -40px;
    left: 20px;
}

.as{
    position: relative;
    top: -15px;
}

#c{
    position: relative;
    left: 910px;
    top: 10px;
}

#tit{
    position: relative;
    left: 1270px;
    top: -90px;
    font-size: 22px;
}

#e{
    position: relative;
    left: 1430px;
    top: -90px;
    height: 40px;
}

.sesion{
    position: relative;
    top: -130px;
    left: 1310px;
    color: white;
    font-size: 20px;
}

.modasis{
    overflow: hidden;
    position: relative;
    background-color: #0099FF;
    width: 1455px;
    left: 20px;
    border-radius: 5px;
    height: 250px;
}

.modasis2{
    overflow: hidden;
    position: relative;
    background-color: #0099FF;
    width: 1455px;
    left: 20px;
    border-radius: 5px;
    height: 270px;
}

.ra{
    color: #ffff;
    font-size: 38px;
    position: relative;
    left: 10px;
}

.but{
    position:relative ;
    border-radius: none;
    top: 50px;
    left: 100px;
    background-color: #f9f6f6;
    height: 50px;
    width: 160px;
    font-size: 24px;
    border-color: #f1f1f1;
    cursor: pointer;
}

.b{
    position:relative ;
    border-radius: none;
    top: 50px;
    left: 450px;
    background-color: #f9f6f6;
    height: 50px;
    width: 170px;
    font-size: 24px;
    border-color: #f1f1f1;
    cursor: pointer;
}

.bu{
    position:relative ;
    border-radius: none;
    top: 50px;
    left: 800px;
    background-color: #f9f6f6;
    height: 50px;
    width: 160px;
    font-size: 24px;
    border-color: #f1f1f1;
    cursor: pointer;
}

.ma{
    color: #ffff;
    font-size: 22px;
    position: relative;
    left: 20px;
}

#container{
    overflow: hidden;
    position: relative;
    background-color: #0099FF;
    width: 215px;
    left: 20px;
    border-radius: 5px;
    height: 50px;
}

.mo{
    position: relative;
    top: 10px;
    left: 5px;
}

.anio{
    width: 70px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    position: relative;
    top: -40px;
    left: 215px;
}

.sec{
    width: 95px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    position: relative;
    top: -40px;
    left: 220px;
}

.modi{
    position:relative ;
    border-radius: none;
    top: -40px;
    left:225px;
    background-color: #08c42d;
    height: 40px;
    width: 100px;
    font-size: 20px; 
    border-color: #08c42d;
    cursor: pointer;
}

#fecha{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 150px;
    position: relative;
    top: 10px;
    left: 20px;
}

#fecha::before{
    
            display: block;
            margin-bottom: 5px;
}
/*Fin de pantalla mod*/
/*Inicio pantalla estu*/
.body2{
    background: #0099FF;
	font-family: 'Anton', sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}



