
*{
    margin: 0%;
    padding: 0%;
}
/* pantalla modificar asistencia*/
.body1{
	background: rgb(247, 247, 249);
	font-family: 'Anton', sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.cabecera{
    overflow: hidden;
    background-color: #5086C1;
    height: 105px;
    position: relative;
}

#i{
    font-size: 20px;
    color: #FBF7F7;
    display: inline-block;
    text-decoration: none;
    position: relative;
    top: -40px;
    left: 20px;
}

.as{
    position: relative;
    top: -15px;
}

#c{
    position: relative;
    left: 770px;
    top: 10px;
}

#tit{
    position: relative;
    left: 1120px;
    top: -90px;
    font-size: 22px;
}

#e{
    position: relative;
    left: 1260px;
    top: -90px;
    height: 40px;
}

.sesion{
    position: relative;
    top: -130px;
    left: 1140px;
    color: white;
    font-size: 20px;
}

.modasis{
    overflow: hidden;
    position: relative;
    background-color: #5086C1;
    width: 1300px;
    left: 20px;
    border-radius: 5px;
    height: 250px;
}

.modasis2{
    overflow: hidden;
    position: relative;
    background-color: #5086C1;
    width: 1300px;
    left: 20px;
    border-radius: 5px;
    height: 270px;
}

.ra{
    color: #ffff;
    font-size: 38px;
    position: relative;
    left: 10px;
}

.but{
    position:relative ;
    border-radius: none;
    top: 50px;
    left: 100px;
    background-color: #f9f6f6;
    height: 50px;
    width: 160px;
    font-size: 24px;
    border-color: #f1f1f1;
    cursor: pointer;
    border: none;
}

.b{
    position:relative ;
    border-radius: none;
    left: 550px;
    background-color: #f9f6f6;
    height: 50px;
    width: 180px;
    font-size: 24px;
    border-color: #f1f1f1;
    cursor: pointer;
    border: none;
}

.bu{
    position:relative ;
    border-radius: none;
    left: 1000px;
    top: -50px;
    background-color: #f9f6f6;
    height: 50px;
    width: 160px;
    font-size: 24px;
    border-color: #f1f1f1;
    cursor: pointer;
    border: none;
}

.ma{
    color: #ffff;
    font-size: 22px;
    position: relative;
    left: 20px;
}

#container{
    overflow: hidden;
    position: relative;
    background-color: #5086C1;
    width: 215px;
    left: 20px;
    border-radius: 5px;
    height: 50px;
}

.mo{
    position: relative;
    top: 10px;
    left: 5px;
}

.anio{
    width: 70px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    position: relative;
    top: -40px;
    left: 215px;
}

.sec{
    width: 95px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    position: relative;
    top: -40px;
    left: 220px;
}

.modi{
    position:relative ;
    border-radius: none;
    top: -40px;
    left:225px;
    background-color: #08c42d;
    height: 40px;
    width: 100px;
    font-size: 20px; 
    border-color: #08c42d;
    cursor: pointer;
}

#fecha{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 150px;
    position: relative;
    top: 10px;
    left: 20px;
}

#fecha::before{
    
            display: block;
            margin-bottom: 5px;
}
/*Fin de pantalla mod*/
/*Inicio pantalla estu*/
.body2{
	background: #5086C1;
	font-family: 'Anton', sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.cabecera2{
    overflow: hidden;
    background-color: #f6f8fa;
    height: 105px;
    position: relative;
}

.sesion2{
    position: relative;
    top: -130px;
    left: 1140px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#tit2{
    position: relative;
    left: 1120px;
    top: -90px;
    font-size: 22px;
}

#i2{
    font-size: 20px;
    color: #010101;
    display: inline-block;
    text-decoration: none;
    position: relative;
    top: -40px;
    left: 20px;
}

.selec{
    color: white;
    margin-left: 10px;
}

.botonnes{
    float: right;
    margin-right: 20px;
}

.modifi{
    border-radius: none;
    background-color: #f9f6f6;
    height: 50px;
    width: 160px;
    font-size: 24px;
    border-color: #f1f1f1;
    cursor: pointer;
    border: none;
}

.aniiio{
    text-align: left;
    margin-left: 90px;
}

.seccion{
    text-align: center;
    margin-top: -30px;
}

.mes{
    text-align: right;
    margin-top: -30px;
    margin-right: 90px;
}

.list{
 text-align: center;
}

.table{
 width: 1100px;
 height: 540px;
 background-color: rgb(158, 152, 152);
 margin-left: 20px;
 margin-top: -20px;
}

table, th{
    border-collapse:collapse;
    border: 2px solid rgb(6, 6, 6);
    text-align: center;
    background-color: #FBF7F7;
    margin-left: 90px;
}

.nombre{
    width: 280px;
}

.semana{
    width: 150px;
}

.minitabla{
    border-collapse:collapse;
    border: 2px solid rgb(6, 6, 6);
    text-align: center;
    margin-left: 0px;
    height: 23px;
}

td{
    border: 2px solid rgb(6, 6, 6);
}
.dia{
    width: 35px;
    font-size: 10px;
}
.cheq{
    height: 15px;
}

.cancel{
    height: 10px;
}

.escr{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 700px;
}

.fec_nie{
    text-align: left;
    color: white;
    margin-left: 20px;
}

.fecc{
    width: 150px; 
  padding: 10px; 
  border: 2px solid #ccc; 
  border-radius: 10px; 
  font-size: 16px; 
  color: #333; 
  position: relative;
  left: 20px;
  background-color: #ebeef1;
}

.niee{
    width: 100px; 
    padding: 10px; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    font-size: 16px; 
    color: #333; 
    position: relative;
    left: 35px;
    background-color: #ebeef1;
}

.nomm{
    width: 220px; 
    padding: 10px; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    font-size: 16px; 
    color: #333; 
    position: relative;
    left: 65px;
    background-color: #ebeef1;
}

.cons{
    border-radius: none;
    background-color: #3deb12;
    width: 100px;
    height: 35px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    margin-left: 70px;
    text-align: center;
}

.ventanaflotante {
    margin-top: 20px;
    position: relative;
    top: 500px;
    left: 150px; 
  }
  /* Estilos para la ventana flotante */
.ventanaflotante {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #5086C1;
        border: 1px solid #ccc;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        width: 500px;
        height: 200px;
        z-index: 1000;
        border-radius: 10px;
}

 .contenedor{
  background-color: white;
  border-radius: 10px;
  height: 150px;
}  

.escusa{
    font-size: 24px;
    margin-top: 0px;
    margin-left: 10px;
}

.chambre{
    border: none;
    margin-left: 15px;
    height: 80px;
    width: 450px;
    margin-top: 10px;
    font-size: 18px;
    vertical-align: top;
}

#cerrar {
    background-color: #f1f1f1;
    color: #0e0d0d;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    width: 110px;
    margin-left: 90px;
    position: relative;
    top: -5px;
    }
    
    .ca{
    color: black;
    font-size: 16px;
    position: relative;
    top: -19px;
    left: 10px;
    }
    
    .ca2{
    color: black;
    font-size: 16px;
    position: relative;
    top: -25px;
    left: 10px;
    }
    
    #guardar{
    background-color: #f1f1f1;
    color: #0e0d0d;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    height: 30px;
    width: 90px;
    margin-left: 100px;
    }
    
    .gua12{
    height: 20px;
    position: relative;
    top: -5px;
    right: 30px;
    }
.cancel12{
    height: 15px;
    position: relative;
    right: 35px;
    top: -3px;
}    

#guardar1{
    background-color: #f1f1f1;
    color: #0e0d0d;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    height: 30px;
    width: 90px;
    margin-left: 200px;
    }

    .imagen{
        width: 600px;
        height: 200px;
        float: left;
    }
    
    .imagens{
        width: 650px;
        height: 120px;
        margin-top: 10px;
        margin-left: 60px;
    
    }

    .cuadro-gris {
        background-color: #5086C1;
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        cursor: pointer;
        border: none;
    }
    
    
    .cuadro-gris img {
        background-color: white;
        max-width: 90%;
        max-height: 90%;
    }
    
    .grid-layout1{
        display: grid;
         grid-template-columns: 30% 30% 30%;
         margin-left: 100px;
    }

    .modasis10{
        background-color: #5086C1;
        height: 240px;
    }

    .fleca{
        height: 95px;
    }

    .ll{
        font-size: 38px;
        color: white;
        text-align: center;
        font-family: Candal;
        word-wrap: break-word;
    }

    /* Estilos para la ventana flotante */
 .verprofe {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5086C1;
    border: 5px solid #ccc;
    padding: 20px;
    width: 1140px;
    height: 600px;
    z-index: 1000;
    border-radius: 10px;
    overflow-y: auto;
    }
    
    /* Estilos para el contenido de la ventana */
    .contenido {
      text-align: center;
    }

    table {
        border-collapse:collapse;
        margin-left: 180px;
        margin-top: 60px;
      }
      
      .miTabla, td {
        border-collapse:collapse;
        border: 2px solid rgb(6, 6, 6);
        text-align: center;
        background-color: #FBF7F7;
      }
      
      .nie{
        width: 150px;
      }
      .nom{
        width: 420px;
      }
      .gen{
        width: 110px;
      }
      .edit{
        width: 120px;
      }
      .editar{
        border: none;
        background: none;
        cursor: pointer;
      }
      .drop{
        border: none;
        background: none;
        cursor: pointer;
      }
      .bor{
        height: 30px;
        float: right;
      }
      .ed{
        height: 30px;
        float: left;
      }
    
      .con{
        height: 1px;
      }
    
      .agregar{
        float: left;
        margin-top: 5px;
        background-color: #5086C1;
        border: none;
        cursor: pointer;
      }
    
      .agre{
        height: 50px;
      }
    
      .salir{
        margin-top: -20px;
        margin-left: 1110px;
        border: none;
        cursor: pointer;
        background: none;
        height: 25px;
      }
    
      .exit{
        height: 25px;
        float: right;
        margin-right: 3px;
      }
    
      .secc{
        font-size: 38px;
        color: #fff;
        position: relative;
        left: 10px;
        margin-top: -20px;
    }  

    .secc2{
        font-size: 24px;
        color: #fff;
        position: relative;
        left: 10px;
        margin-top: -20px;
    } 
    
    .registro1{
        display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5086C1;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  height: auto;
  z-index: 1000;
  border-radius: 10px;
    }

    .cancel{
        height: 15px;
        position: relative;
        right: 35px;
        top: -3px;
        }
        
        #cerrar11,#cerrar12,#cerrar13 {
        background-color: #f1f1f1;
        color: #0e0d0d;
        border: none;
        padding: 10px 20px;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 10px;
        position: relative;
        left: 190px;
        top: 10px;
        height: 30px;
        width: 110px;
        }
        
        .ca{
        color: black;
        font-size: 16px;
        position: relative;
        top: -19px;
        left: 10px;
        }
        
        .ca2{
        color: black;
        font-size: 16px;
        position: relative;
        top: -25px;
        left: 10px;
        }
        
        #guardar{
        background-color: #f1f1f1;
        color: #0e0d0d;
        border: none;
        padding: 10px 20px;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 10px;
        position: relative;
        right: 190px;
        top: 15px;
        font-size: 16px;
        height: 30px;
        width: 90px;
        }
        
        .gua{
        height: 20px;
        position: relative;
        top: -5px;
        right: 30px;
        }

        .nombree,.apellidos,.usus,.contrase{
            width: 160px; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 10px; 
  font-size: 16px; 
  color: #333; 
  position: relative;
        }
        