
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


*{
    margin: 0%;
    padding: 0%;
}

body{
	background: #5086C1;
	font-family: 'Anton', sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.imagen{
    width: 600px;
    height: 200px;
    float: left;
}

.imagens{
    width: 650px;
    height: 120px;
    margin-top: 10px;
    margin-left: 60px;

}

.textoi{
    color: white;
    font-size: 20PX;
}

.textop{
    margin-left: 670px;
}

.cuadro-gris {
    background-color: #ccc;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    cursor: pointer;
}


.cuadro-gris img {
    background-color: white;
    max-width: 90%;
    max-height: 90%;
}

.grid-layout1{
    display: grid;
     grid-template-columns: 35% 35% 35%;
}

.ima{
    margin-left: 15px;
}

.custom-table {
    width: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: black;
    margin-left: 90px;
    
}

.custom-table td {
    padding: 10px;
    text-align: center;
    border: 8px solid rgb(0, 0, 0)c;
}

.custom-table img {
    max-width: 180px;
    max-height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.nombre{
    font-size: 30px;
}

.grado{
    font-size: 20px;
}

.seccion{
    font-size: 20px;
}

.tablaasis{
    background-color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 60px;
    width: 690px;
}

.dance{
    background-color: white;
    margin-right: 100px;
    width: 550px;
}

.scrollable-container {
    width: 580px; /* Define el ancho deseado del contenedor con desplazamiento */
    height: 220px; /* Define la altura deseada del contenedor con desplazamiento */
    overflow: auto; /* Habilita la barra de desplazamiento cuando el contenido excede las dimensiones del contenedor */
}