/* styles.css */

body{
  background-color: black;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,
     0, 0, 0.7);
}

.modal-content {
    background-color: #5086C1;
    margin: 10% auto;
    padding: 20px;
    border: 5px solid #ccc; 
    border-radius: 10px; 
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 450px;
    width: 300px;
    margin-top: 80px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#imageContainer{
    height: auto;
    width: 150px;
    position: relative;
    left: 60px;
    background-color: #5086C1;
    margin-left: 20px;
  }

  .ad{
    height: 150px;
    width: 140px;
    margin-left: 5px;
  }

  .img{
    left: -5px;
    cursor: pointer;
    background-color: #5086C1;
    border: none;
    height: auto;
  }

  #nie {
    width: 120px; 
    padding: 10px; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    font-size: 16px; 
    color: #333; 
    position: relative;
    right: 75px;
    background-color: #ebeef1;
  }

  #nombre {
    width: 260px; 
    padding: 10px; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    font-size: 16px; 
    color: #333; 
    position: relative;
    right: 5px;
  }

  .blanco{
    background-color: white;
    border: 2px solid #ccc; 
    border-radius: 10px; 
  }

  .genero{
    font-size: 25px;
    float: left;
    margin-left: 5px;
  }

  .masculino{
    font-size: 40px;
  }

  #checkbox {
    /* Aumenta el tamaño del texto del checkbox */
    font-size: 60px; /* Puedes ajustar el valor según tus preferencias */
}

.guardar{
  font-size: 20px;
  color: white;
  background-color: green;
  float: right;
  margin-right:40px;
}

.cancelar{
  font-size: 20px;
  color: white;
  background-color: red;
  float: left;
  margin-left: 40px;
}
